torch>=1.9.1
torchvision>=0.10.1
gitpython>=3.1.18
pandas>=1.1.5
scipy>=1.5.2
scikit-image>=0.17.2
easydict>=1.9
termcolor>=1.1.0
seaborn>=0.11.2
lpips>=0.1.4
piq>=0.5.5
tensorboard>=2.7.0
tensorboard_plugin_profile
plyfile>=0.7.4
opencv-python>=4.5.3.56
open3d>=0.9.0.0
imageio
